:root{
    --main-color-1:#aabc44;
    --hover-color:#eef8b3;
    
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:'Times New Roman', Times, serif;
}
.common-section{
    width: 1100px;
    margin: 0 auto;
}
#menu{
    padding: 23px 0;
}
a{
    text-decoration: none;
    color: black;
}
.nav-parent{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding: 20px 0 0 0;
}
.nav-parent li{
    list-style-type: none;
}
.nav-parent li a{
    font-weight: bold;
}
#banner-section .banner-img{
    position: relative;
}
#banner-section .banner-img .box-content{
    position: absolute;
    top: 6rem;
    margin-left: 250px ;
    
}

.box-content .box-content-main{
    margin-top: 90px;
    font-size: 16px;
}
.box-content .box-button button{
    border: none;
    padding: 15px 45px;
    background-color:var(--main-color-1);
}
#product .product-header{
    position: relative;
    margin-top: 80px;
}
#product .product-header .la{
    width: 80px;
    position: absolute;
    top: -15%;
    right: 5%;
}
#product .product-header .item .box-item{
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
#product .product-header .item .box-item img{
    width: 100%;
    margin-bottom: 10px;
}
 .intro img{
    width: 100%;
}
 .intro{
    position: relative;
}
 .intro .box-intro{
    position: absolute;
    top: 0%;
}
 .intro .box-intro img{
    width: 120px;
}
 .intro .box-intro h3{
    position: absolute;
    top: 15%;
    left:43%;
    /* transform: translate(-50%,-50%); */
}
 .intro .box-intro  .box-intro-content{
    padding:0 550px;
    margin: 190px 0 0 -310px;
    text-align:justify;
}
 .intro .box-intro  .box-intro-content button{
    border: none;
    padding: 15px 35px;
    background-color: var(--main-color-1);
}
.box-intro-content button:hover{
    color: aliceblue;
    background: var(--hover-color);
}
#people .box-people{
    position: relative;
}
#people .box-people img{
    width: 100%;
}
#people .box-people .box-img img{
    width: 200px;
    position: absolute;
}
#people .box-people .box-img-2 img:first-child{
    width: 200px;
    position: absolute;
    right: 0%;

}
#people .box-people .box-img-2 img:last-child{
    width: 80px;
    position: absolute;
    left: 10%;
    margin-top: 120px;
}
#buy-product{
    margin-top: 150px;
}
#buy-product input[type="email"]{
    width: 500px;
    height: 40px;
    border: 2px solid #aabc44;
    margin: 50px 20px 0 0 ;
}
#buy-product button{
    width: 130px;
    height: 40px;
    border: 2px solid #aabc44;
    background-color: var(--main-color-1);
    margin: 50px 20px 0 0 ;
}
#buy-product button:hover{
    background: var(--hover-color);
}
#footer{
    background-color: #f1f1e7;
    margin-top: 120px;
    position: relative;
}
#footer ul{
    margin: 0;
    padding: 0;
}
#footer ul li{
    list-style-type: none;
}
.center{
    margin: 0 auto;
}
#footer .footer-img img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 170px;
}




